
button[primaryButton] {
    min-width: 10em;
    padding: 0.75em;
    background-color: #e94b70;
    color: white;
    border: solid 1px #e94b70;
    border-radius: 0.25em;
    outline: none;
}
button[primaryButton]:hover {
    min-width: 10em;
    padding: 0.75em;
    color: #e94b70;
    background-color: white;
    border: solid 1px #e94b70;
    border-radius: 0.25em;
    outline: none;
}

button[button] {
    min-width: 10em;
    padding: 0.75em;
    background-color: #c7d5cc;
    color: #5a6a62;
    border: solid 1px #c7d5cc;
    border-radius: 0.25em;
    outline: none;
}
button[button]:hover {
    min-width: 10em;
    padding: 0.75em;
    color: #5a6a62;
    background-color: white;
    border: solid 1px #c7d5cc;
    border-radius: 0.25em;
    outline: none;
}

.flexi-columns {
    display: flex;
}
.flexi-columns > div {
    width: 50%;
    padding: 0.5em;
}
